# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/
*.egg-info/

Data/
Excel files/
#*.xlsx
#*.xls
#*.csv
*.pkl
processed_data.*

# PDFs e imágenes grandes (opcional)
*.pdf
AADT*.png
Flow*.png

# Temporales
~$*
*.tmp
.849*
borrer.txt

# IDE
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db

#Secrets
.streamlit/secrets.toml
